:root {
	--primary-font: "Noto Sans", sans-serif;
	--primary: #25125a;
	--white: #fff;
	--black: #000;
	--secondary: #333333;
	--light-primary: #50417b;
	--grey: #6666661a;
	--purple: #603f83;
	--violet: #3d126b;
	--dark-grey: #767676;
	--placeholder-color: #9e9e9e;
	--light-black: #5c5c5c;
	--border-color: #e3e3e3;
	--black-1: #404040;
	--border-color-2: #a6a6a6;
	--header-height: 144px;
	--light-bg: #f4f4f4;
	--registration-card-bg: radial-gradient(163.87% 338.51% at 12.79% 11.86%, rgba(255, 255, 255, 0) 0%, #F4F3FF 100%);
}
@media only screen and (max-width: 1600px) {
	:root {
		--header-height: 127px;
	}
}