.accordion {
    background-color: #F4F4F4;
    border-radius: 16px;
    padding: 40px;
    @include media-breakpoint-down(md) {
        padding: 20px;
    }
    &-button {
        font-style: normal;
        font-weight: 500;
        font-size: 20px !important;
        display: flex;
        align-items: center;
        background-color: transparent !important;
        color: var(--black) !important;
        // background-color: #F4F4F4 !important;
        border: 0 !important;
        box-shadow: none !important;
        padding: 0 !important;
        margin-bottom: 12px;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }

        @include media-breakpoint-down(md) {
            font-size: 16px!important;
            padding: 5px;

            &::after {
                width: 18px !important;
                height: 18px !important;
                inset-inline-end: 0 !important;
                font-size: 18px !important;
            }

            span {
                white-space: pre-line;
                margin-inline-end: 2rem;
            }
        }

        &:not(.collapsed) {
            background-color: transparent;
            border: 0;
            box-shadow: none;
        }

        &::after {
            // background-image: url(../../assets/images/icons/arrow-down.svg);
            transition: transform 0.15s ease-in-out;
            position: absolute;
            inset-inline-end: 0;
            padding: 15px !important;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 100%;
            border: none !important;
            background-size: 0;
            content: "\f4fe" !important;
            font-family: bootstrap-icons !important;
            color: var(--black);
            font-weight: 500 !important;
            vertical-align: middle;
            justify-content: center;
            display: flex;
            align-items: center;
            background-image: none !important;
            @include media-breakpoint-up(md) {
                width: 45px !important;
                height: 45px !important;
                font-size: 24px !important;
            }
        }

        &:not(.collapsed)::after {
            // background-image: url(../../assets/images/icons/times.svg);
            transform: rotate(45deg) !important;
            transition: transform 0.15s ease-in-out;

        }

        &:focus {
            box-shadow: none;
        }

        // &:hover {
        //     &::after {
        //         color: var(--white);
        //         background-color: var(--violet);
        //     }
        // }
    }
    &-item {
        border: 0 !important;
        // border-bottom: 1px solid var(--border-color);
        border-radius: 0;
        padding-block: 12px;
        margin-bottom: 16px;
        border-radius: 16px;
        background-color: transparent !important;

        @include media-breakpoint-down(md) {
            margin-bottom: 0 !important;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
    &-body {
        font-weight: 400;
        font-size: 16px;
        color: var(--secondary);
        padding-block: 5px;
        padding: 0 !important;
        max-width: 90%;
        @include media-breakpoint-down(md) {
            font-size: 14px;
            padding: 5px;
        }
    }
}