.chat-box-section {
    position: fixed;
    bottom: -10px;
    inset-inline-end: 0px;
    z-index: 9;
    .chat-btn-box {
        cursor: pointer;
        .whatsApp-button {
            transform: translateY(52px) translateX(12px);
            position: relative;
            z-index: -1;
            opacity: 0;
            transition: 0.5s all ease;
            html[dir="rtl"] & {
                transform: translateY(52px) translateX(-12px);
            }
            &.active {
                transform: translateY(-30px) translateX(8px) !important;
                opacity: 1 !important;
                z-index: 1 !important;
                html[dir="rtl"] & {
                    transform: translateY(-30px) translateX(-8px) !important;
                }
                @include media-breakpoint-down(xl) {
                    transform: translateY(50px) translateX(-60px) !important;
                    html[dir="rtl"] & {
                        transform: translateY(50px) translateX(60px) !important;
                    }
                }
            }

            img {
                width: 42px;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
        }
        .main-chat-btn {
            background-color: #fff;
            border: 0;
            width: 65px;
            height: 65px;
            border-radius: 50rem;
            position: relative;
            z-index: 1;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            overflow: hidden;
            img {
                width: 130px;
                height: 130px;
                object-fit: cover;
                object-position: -60px -32px;
                html[dir="rtl"] & {
                    transform: scaleX(-1);
                }
                &.is-close-icon {
                    width: 24px !important;
                    height: 24px !important;
                    object-fit: contain;
                    object-position: center;
                }
            }

            // &::after {
            //     content: "";
            //     position: absolute;
            //     inset: 0;
            //     background: #56327c;
            //     opacity: 1;
            //     mix-blend-mode: overlay;
            //     pointer-events: none;
            // }
        }
        .tooltip-box {
            background-color: #fff;
            padding: 8px;
            border-radius: 4px;
            position: relative;
            opacity: 0;
            transform: translateY(-50px) translateX(-80px);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            transition: 0.5s all ease;
            html[dir="rtl"] & {
                transform: translateY(-50px) translateX(80px);
            }
            &.hide {
                opacity: 0 !important;
                visibility: hidden !important;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                inset-inline-end: -2px;
                transform: translate(-0%, -50%);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                width: 15px;
                height: 15px;
                rotate: 45deg;
                background-color: #fff;
                z-index: -1;
                html[dir="rtl"] & {
                    transform: translate(-58%, 0%);
                }
            }
            p {
                color: #000;
                margin-bottom: 0;
            }
        }
        &:hover {
            .whatsApp-button {
                transform: translateY(-30px) translateX(8px);
                z-index: 1;
                opacity: 1;
                transition: 0.5s all ease;
                html[dir="rtl"] & {
                    transform: translateY(-30px) translateX(-8px);
                }
            }
            .tooltip-box {
                opacity: 1;
                transform: translateY(-50px) translateX(-170px);
                transition: 0.5s all ease;
                html[dir="rtl"] & {
                    transform: translateY(-50px) translateX(170px);
                }
                @include media-breakpoint-down(xl) {
                    transform: translateY(-50px) translateX(-125px);
                    html[dir="rtl"] & {
                        transform: translateY(-50px) translateX(125px);
                    }
                }
                &.hide {
                    opacity: 0 !important;
                    visibility: hidden !important;
                }
            }
        }
    }
    .chat-box {
        height: 50vh;
        width: 346px;
        border-radius: 16px;
        background-color: #fff;
        position: absolute;
        bottom: 50px;
        inset-inline-end: calc(100% + 25px);
        border: 1px solid #e5e7eb;
        box-shadow: 0px 0px 22.1px 0px #00000021;
        overflow: hidden;
        transform: translateY(150%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
        @include media-breakpoint-down(xl) {
            inset-inline-end: 30px;
            bottom: 110px;
        }
        &.active {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            transition: all 0.5s ease;
        }

        &-header {
            background-color: #ece7f0;
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 8px;
            img {
                height: 33px;
                width: auto;
                aspect-ratio: 1/1;
                object-fit: contain;
                object-position: center center;
            }
            p {
                font-weight: 600;
                margin-bottom: 0;
            }
        }
        &-body {
            width: 100%;
            height: calc(100% - 65px);
            background-color: #fff;
            padding-bottom: 78px;
            &-inner {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                padding: 0.5rem 1.5rem;
            }
        }
        &-input {
            width: 100%;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            padding: 16px 16px;
            z-index: 1;
            .input-group {
                background-color: #eeeeee;
                border-radius: 50rem;
                border: 0;
                input {
                    color: #000;
                    background-color: transparent;
                    border-radius: 50rem;
                    border-inline-end: 0;
                    border: 0;
                    &::placeholder {
                        color: #767676;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
                .input-group-text {
                    border-top-right-radius: 50rem;
                    border-bottom-right-radius: 50rem;
                    padding: 0;
                    border-inline-start: 0;
                    background-color: transparent;
                    border: 0;
                    button {
                        width: 40px;
                        height: 100%;
                        border: 0;
                        background-color: transparent;
                        border-top-right-radius: 50rem;
                        border-bottom-right-radius: 50rem;
                    }
                }
            }
        }
    }
}
